@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  --white: #fff;
  --bg-color: #e7e7e7;
  --black: #000;
  --green: #4ecf57;
  --wierd-green: #34919c;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #0c0791;
} */

body {
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
  background-color: var(--bg-color);
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

.grid {
  background-image: url("../images/grid.png");
  background-size: cover;
  background-position: center;
}

.left-border {
  border-top-left-radius: 85px;
  border-bottom-left-radius: 85px;
}

.right-border {
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 90;
  padding: 0 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin: 1rem;
  /* border: red solid; */
  height: 50px;
}

header ul {
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-color: var(--white);
  padding: 10px;
}

header li {
  margin: 0 4rem;
}

header ul li a {
  text-decoration: none;
  color: var(--black);
}

header button {
  margin: 0 2rem;
  width: 8rem;
  height: 50px;
  border-radius: 30px;
  background-color: var(--green);
  border: none;
  font-weight: 800;
  font-size: 18px;
}

.home {
  /* border: red solid; */
  height: 100vh;
  width: 100%;
}

.purple {
  z-index: 1;
  position: relative;
  top: 200px;
  width: 70%;
  height: 380px;
  background-color: var(--wierd-green);
}

.title {
  padding-left: 4rem;
  z-index: 5;
  color: var(--white);
  font-size: 90px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 140px;
}

.fenan {
  /* border: red solid; */
  width: 100%;
  max-width: 55rem;
  z-index: 4;
  position: absolute;
  top: 170px;
  right: 0;
  padding-right: 1rem;
}

.overview {
  z-index: 1;
  background-color: var(--white);
  position: relative;
  top: 140px;
  width: 60%;
  padding: 1.5rem;
  word-wrap: break-word;
  font-size: 2vh;
}

#about {
  height: 100vh;
  width: 100%;
  /* border: red solid; */
}

.about-div {
  position: relative;
  top: 120px;
  /* border: red solid; */
  display: flex;
  justify-content: end;
}

.title-about {
  display: flex;
  width: 60%;
  height: 170px;
  background-color: var(--wierd-green);
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 7rem;
  font-weight: 700;
}

.about-container {
  width: 80%;
  height: 50vh;
  background-color: var(--white);
  position: relative;
  top: 23vh;
  box-shadow: 0px 0px 50px rgb(120, 120, 120);
  padding: 2.5rem;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 1.5vw;
  font-weight: 300;
}

/* skills */
#skills {
  /* border: red solid; */
  padding-top: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.skills-title {
  font-size: 80px;
  /* border: red solid; */
  text-align: center;
}

.my {
  color: var(--wierd-green);
}

.skills-container {
  /* border: blue solid; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 50vh;
  justify-content: space-around;
  /* animation: slideLeft 20s linear infinite; */
}

.skill-card {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
}

.skill-card h3 {
  margin: 0;
  font-size: 30px;
}

.line {
  position: relative;
  left: 10%;
  width: 50px;
  height: 10px;
  border-radius: 20px;
  background-color: var(--wierd-green);
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 600px) {
  header li {
    margin: auto;
  }
  header button {
    margin: 10px 0.5rem;
    width: calc(100% - 290px); /* Full width button with padding adjustment */
  }
  .fenan {
    top: 620px;
    margin: auto;
    z-index: 2;
    width: 90%;
    right: 0;
    padding-right: 0.5rem;
  }
  .purple {
    /* border: red solid; */
    width: 100vw;
  }
  .title {
    /* border: red solid; */
    top: 220px;
    padding: 0;
    font-size: 40px;
  }
  .title-about {
    font-size: 12vw;
  }
  .overview {
    top: 130px;
    width: 100%;
  }
  .about-container {
    font-size: 3.5vw;
  }
}
